.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  background-color: rgb(64, 62, 62);
}
.main {
  display: flex;
  flex-grow: 1;
}
.user-select-none{
  user-select: none !important;
}
.calculator{
  flex-wrap:wrap;
}